BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
---
Language: Cpp
NamespaceIndentation: None
AccessModifierOffset: -4
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: AfterHash
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterFunction: true
